<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">La team Roquette !</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class ="team">
      <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 h-100 shadow">
            <%= image_tag("Marie.png", :class => "card-img-top img1") %>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Marie Dechaux</h5>
              <div class="card-text text-black-50">Co-founder </div>
              <div class="card-text text-black-50">La doyenne de l'équipe mais aussi la voyageuse. Durant ses années d'escapades, Marie a été ensorcellée par la faune et la flore latino-américaine à laquelle elle voue une véritable passion.  </div>
            </div>
          </div>
        </div>
      <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 h-100 shadow">
            <%= image_tag("clem.jpg", :class => "card-img-top") %>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Clémentine Fouqué</h5>
              <div class="card-text text-black-50">Co-founder</div>
              <div class="card-text text-black-50">La campagnarde de l'équipe. Elle a, depuis sa plus tendre enfance, vécu au milieu de la nature jusqu'à en faire son territoire. Potagers et arbres n'ont aucun secret pour elle.</div>
            </div>
          </div>
        </div>

      <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 h-100 shadow">
            <%= image_tag("benji.jpg", :class => "card-img-top") %>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Benjamin Serval</h5>
              <div class="card-text text-black-50">Co-founder</div>
              <div class="card-text text-black-50">Le citadin de l'équipe. Lui ce qu'il aime c'est de savoir que même dans sa ville, on trouve des endroits où se cachent potagers et jardins.</div>
            </div>
          </div>
        </div>

    </div>


      <div class="team">
        <!-- Team Member 4 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 h-100 shadow">
              <%= image_tag("aimery.png", :class => "card-img-top img4") %>
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Aimery Cayol</h5>
                <div class="card-text text-black-50">Co-founder</div>

                <div class="card-text text-black-50">Le bienveillant. Toujours là pour aider les autres (ça doit être son coté normand). Sa sociabilité et sa bienveillance sont des valeurs phares de coup-de-pousse. On peut compter sur lui au moindre problème.</div>
              </div>
            </div>
          </div>


        <!-- Team Member 5 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 h-100 shadow">
              <%= image_tag("raph.jpg", :class => "card-img-top") %>
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Raphaelle de la Bouillerie</h5>
                <div class="card-text">Co-founder</div>

                <div class="card-text">La montagnarde. Expédition, ski... ça la connait ! Elle peux passer des semaines entières en altitude. Un havre de savoir dont on ne peut plus se passer.</div>
              </div>
            </div>
          </div>
      </div>



        <!-- Team Member 6 -->
        <div class="team">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 h-100 shadow">
              <%= image_tag("Yoda.png", :class => "card-img-top") %>
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Elodie Letellier</h5>
                <div class="card-text text-black-50">Mentor</div>

                <div class="card-text text-black-50">Celle sans qui nous serions sous le sable de Naboo. Elle mérite tous vos remerciements et la gratitude des plus grands. Remercions nous te, Elodie.</div>
              </div>
            </div>
          </div>
        </div>


</div>