<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">La team Roquette !</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
  <div class ="team">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag("Marie.PNG", :class => "card-img-top") %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Marie Dechaux</h5>
          <div class="card-text text-black-50">Co-founder </div>
          <div class="card-text text-black-50">La doyenne de l'equipe mais aussi la voyageuse. Durant sa jeunesse, Marie a su trouver, en amerique latine, une passion pour la faune et la flore.  </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag("clem.jpg", :class => "card-img-top") %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Clémentine Fouqué</h5>
          <div class="card-text text-black-50">Co-founder</div>
          <div class="card-text text-black-50">La campagnarde de l'equipe. Elle a, depuis sa tendre enfance, vecu au milieu de la nature quitte a en faire son territoire. Potager et arbres n'ont aucun secret pour elle.</div>
        </div>
      </div>
    </div>
    
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag("benji.JPG", :class => "card-img-top") %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Benjamin Serval</h5>
          <div class="card-text text-black-50">Co-founder</div>
          <div class="card-text text-black-50">Le plus citadin de l'equipe. Lui ce qu'il aime c'est de savoir que meme dans sa ville, on trouve des endroits ou se cachent potagers et jardins.</div>
        </div>
      </div>
    </div>

    </div>
    
    <!-- Team Member 4 -->
    <div class="team">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <div class="img-team4">
        <%= image_tag("aimery.png", :class => "card-img-top") %>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Aimery Cayol</h5>
          <div class="card-text text-black-50">Co-founder</div>

          <div class="card-text text-black-50">Le bienveillant. Toujours la pour aider les autres (ca doit etre le coté normand). Son coté sociable est l'une des valeurs de coup-de-pousse. On peut compter sur lui au moindre probleme.</div>
        </div>
      </div>
    </div>
    
    
  <!-- Team Member 5 -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag("raph.jpeg", :class => "card-img-top") %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Raphaelle de la Bouillerie</h5>
          <div class="card-text text-black-50">Co-founder</div>

          <div class="card-text text-black-50">La montagnarde. Expedition, ski... ca la connait. Elle pourrait y vivre  durant des semaines sans un soucis. Un havre de savoir dont on ne peut pas se passer.</div>
        </div>
      </div>
    </div>
    </div>

    
    
    <!-- Team Member 6 -->
    <div class="team">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag("Yoda.png", :class => "card-img-top") %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Elodie Letellier</h5>
          <div class="card-text text-black-50">Mentor</div>

          <div class="card-text text-black-50">Celle sans qui nous serons sous le sable de naboo. Elle merite tout vos remerciements et la gratitude des plus grands. Remercions nous te, Elodie.</div>
        </div>
      </div>
    </div>
    
    
  </div>
  </div>
  </div>
  <!-- /.row -->


<!-- /.container -->