<div class="container bg-light-primary text-center my-5">
  <br>
  <h2> Mes Annonces </h2>
  <%= link_to "Ajouter mon jardin", new_garden_path, :class => "btn btn-outline-primary mt-2" %>

  <h4 class="my-4"> Mes annonces publiées </h4>
  <!--Cards -->
  <div class="row text-left mt-5 mx-5 dashboard-card">
    <% @gardens.each_with_index do |garden, i| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <!-- Picture -->
            <div class="flat-content">
              <div id="carouselExampleControls" class="carousel slide img-fluid picture-show-index" data-ride="carousel">
                <div class="carousel-inner">
                <%if garden.pictures.attached?%>
                  <% garden.pictures.each_with_index do |picture, index| %>
                    <div class="carousel-item <%= "active" if index == 0%>">
                      <%= image_tag picture, alt: 'picture', class: 'picture-garden-index' %>
                    </div>
                  <% end %>
                <%else%>
                    <img class="img-fluid picture-garden-index" src="https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                <%end%>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

          <div class="card-body">         
            <h4 class="card-title">
              <a href="<%= garden_path(garden) %>"><%= garden.title %></a>
            </h4>
            <h5><%= garden.surface %> m2</h5>
            <p class="card-text"><%= garden.description %></p>
            <div class="bottom-card mt-auto">
              <p class="card-text"><strong><%= garden.city %></strong></p>
              <%= link_to "Editer", edit_garden_path(garden.id), class: "btn btn-outline-warning" %>
              <%= link_to "Supprimer", garden_path(garden.id), :class => "btn btn-outline-danger", :method => 'DELETE', :data => {:confirm => 'Sûr ?'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>