<div class="container bg-light-primary text-center my-5">
  <br>
  <h2> Mes Annonces </h2>
  <%= link_to "Ajouter un jardin", new_garden_path, :class => "btn btn-outline-primary mt-2" %>

  <h4 class="border-bottom border-gray pb-3 my-4"> Mes annonces publiées </h4>
  <!--Cards -->
  <div class="row text-left mt-5 mx-5">
    <% @gardens.each_with_index do |garden, i| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <!-- Picture -->
          <%= link_to garden_path(garden.id) do %>
            <% if garden.picture.attached? %>
              <%= image_tag garden.picture, alt: 'picture', class: 'img-fluid picture-garden-index' %>
            <% else %>
              <img class="img-fluid picture-garden-index" src="https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
            <% end %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">
              <a href="<%= garden_path(garden) %>"><%= garden.title %></a>
            </h5>
            <h5><%= garden.surface %> m2</h5>
            <p class="card-text"><%= garden.description %></p>
            <div class="bottom-card mt-auto">
              <p class ="text-right mr-4"><%= garden.favorites.count %> <%= (garden.favorites.count) == 1 ? image_tag("heartfull.png") : image_tag("heartfull.png")%></p>
              <p class="card-text"><strong><%= garden.city %></strong></p>
              <%= link_to "Editer", edit_garden_path(garden.id), class: "btn btn-outline-warning" %>
              <%= link_to "Supprimer", garden_path(garden.id), :class => "btn btn-outline-danger", :method => 'DELETE', :data => {:confirm => 'Sûr ?'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>