<div class="container bg-light-primary text-center my-5">
   <br>
   <h2>Mes rendez-vous</h2>
   <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Historique de mes rendez-vous</h6>
      <br>
      <% @appointments.each do |app| %>
         <div class="card border-info mb-3" style="max-width: 20rem;">
         <div class="text-white card-header bg-info"><i class="fa fa-calendar"></i> <strong><%=app.start_day%></strong> <i class="fa fa-pagelines"></i> <strong><%=app.start_hour%></strong></div>
               <br>
               <strong class="d-block text-gray-dark">Chez : <%=app.host.name%></strong>
              <p> Le <%=app.show_start_date%> <p>
               <%= link_to "Supprimer", garden_appointment_path(app.garden.id, app.id), class: "link small text-danger", :method => 'DELETE', :data => {:confirm => "Vous êtes sûr de vouloir supprimer ce rendez-vous ?"} %>
              <%= link_to "Voir le RDV", garden_appointment_path(app.garden.id, app.id), :class => "link small" %>
              <%end%>
         </div>
   </div>
   <br>
</div>
