<% if current_user.id != @user.id  %>
<div class="container mt-5 mb-5 bg-light-primary text-center"">
  <br>
  <h2>Profil<h2>
  <br>
  <br>


  <!-- Avatar displaying -->

  <%if @user.avatar.attached?%>
      <img class="avatar" <%= image_tag @user.avatar, alt: 'avatar', id: 'profile_picture'%>
  <%else%>
      <img class="avatar" src = "https://www.leroiani.net/wp-content/uploads/2017/10/avatar.png">
  <%end%>

    <br>
      <div class="card-body">
        <h6 class="font-weight-light">Prénom : <p class="text-primary"><% if @user.first_name != nil%> <%= @user.first_name%></p> <% end%>
        <h6 class="font-weight-light">Nom : <p class="text-primary"><% if @user.last_name != nil%> <%= @user.last_name%></p> <% end%>
        <h6 class="font-weight-light">Description : <p class="text-primary"><% if @user.description != nil%> <%= @user.description%></p> <% end%>
        <h6 class="font-weight-light">Outils : <p class="text-primary"><% if @user.tools != nil%> <%= @user.tools%></p> <% end%>
        <h6 class="font-weight-light">Email: <p class="text-primary"><%= @user.email %></p>
      </div>
      <a href="mailto:<%= @user.email %>" class="btn btn-outline-primary mt-2">Contacter</a>
      <br><br>
  </div>


<% else %>
<div class="container mt-5 mb-5">
<div class="row">
  <div class="col-lg-3 col-md-6 mb-4 bg-light-primary text-center">
    <br>
    <h2>Mon profil<h2>
      <br>
      <!--Avatar-->
      <%if @user.avatar.attached?%>

        <img class="avatar" <%= image_tag @user.avatar, alt: 'avatar', id: 'profile_picture'%>

        <%else%>

        <img class="avatar" src = "https://www.leroiani.net/wp-content/uploads/2017/10/avatar.png">

      <%end%>
      <br>
    <div class="card-body">
      <h6 class="font-weight-light">Prénom : <p class="text-primary"><% if current_user.first_name != nil%> <%= @user.first_name%></p> <% end%>
      <h6 class="font-weight-light">Nom : <p class="text-primary"><% if current_user.last_name != nil%> <%= @user.last_name%></p> <% end%>
      <h6 class="font-weight-light">Description : <p class="text-primary"><% if current_user.description != nil%> <%= @user.description%></p> <% end%>
      <h6 class="font-weight-light">Outils : <p class="text-primary"><% if current_user.tools != nil%> <%= @user.tools%></p> <% end%>
      <h6 class="font-weight-light">Email: <p class="text-primary"><%= @user.email %></p>
    </div>

          <%= link_to "Editer mes informations", edit_user_path(@user), :class => "btn btn-success mb-3", :style => "width:230px" %>
          <br>
          <%= link_to "Editer mes identifiants", edit_user_registration_path, :class => "btn btn-primary mb-3", :style => "width:230px" %>
          <br>
  </div>

  <div class="col-lg-6 col-md-6 mb-4">
    <center>
      <br>
      <h2> Informations </h2>
      <br><br>

      <a href="<%= new_garden_path %>"><button type="button" new_garden_path class="btn btn-primary btn-lg">Ajouter mon jardin </button></a>

        <br><br><br><br><br><br>
        <div class="container">
          <h4> Mes annonces </h4>
          <br><br>
          <% if @gardens != nil%>
          <% @gardens.each_with_index do |garden, i| %>
        <div class="card h-100">
          <div class="card-body">
            <div class="flat-content">
              <div id="carouselExampleControls" class="carousel slide img-fluid picture-show" data-ride="carousel">
                <div class="carousel-inner">
                <%if garden.pictures.attached?%>
                  <% garden.pictures.each_with_index do |picture, index| %>
                    <div class="carousel-item <%= "active" if index == 0%>">
                      <%= image_tag picture, alt: 'picture', class: 'picture-garden-index' %>
                    </div>
                  <% end %>
                <%else%>
                    <img class="img-fluid picture-garden-index" src="https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                <%end%>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <h4 class="card-title">
              <%= garden.title %></a>
            </h4>
            <h5><%= garden.surface %> m2</h5>
            <p class="card-text"><%= garden.description %></p>
            <br>
            <%= link_to "Editer mon annonce", edit_garden_path(garden.id), class: "btn btn-outline-primary"%>
            <%= link_to "Supprimer mon annonce", garden_path(garden.id), class: "btn btn-warning", :method => 'DELETE', :data => {:confirm => "Es-tu sûr de vouloir supprimer l'annonce?"} %>
          </div>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>

  <div class="col-lg-3 col-md-6 mb-4 bg-secondary-light">
    <br>
    <h2><center> Mes rendez-vous</center></h2>
    <br><br>
          <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Historique de mes rendez-vous</h6>

            <%= render partial: 'appointment'%>

            </small>
          </div>
  </div>
</div>
</div>

<div>
  <center>
    <h2> Mes favoris </h2>
    <%= render partial: 'favorite'%>

</div>
<%end%>

