<% if current_user.id != @user.id  %>
<div class="container mt-5 mb-5 bg-light-primary text-center"">
  <br>
  <h2>Profil<h2>
  <br>
  <%if @user.avatar.attached?%>
  <br>


          <img class="avatar" <%= image_tag @user.avatar, alt: 'avatar', id: 'profile_picture'%>

          <%else%>

          <img class="avatar" src = "https://www.leroiani.net/wp-content/uploads/2017/10/avatar.png">

        <%end%>
        <br>
      <div class="card-body">
        <h6 class="font-weight-light">Prénom : <p class="text-primary"><% if @user.first_name != nil%> <%= @user.first_name%></p> <% end%>
        <h6 class="font-weight-light">Nom : <p class="text-primary"><% if @user.last_name != nil%> <%= @user.last_name%></p> <% end%>
        <h6 class="font-weight-light">Description : <p class="text-primary"><% if @user.description != nil%> <%= @user.description%></p> <% end%>
        <h6 class="font-weight-light">Outils : <p class="text-primary"><% if @user.tools != nil%> <%= @user.tools%></p> <% end%>
        <h6 class="font-weight-light">Email: <p class="text-primary"><%= @user.email %></p>
      </div>
      <a href="mailto:<%= @user.email %>" class="btn btn-outline-primary mt-2">Contacter</a>
      <br><br>
  </div>


<% else %>
<div class="container mt-5 mb-5">
<div class="row">
  <div class="col-lg-3 col-md-6 mb-4 bg-light-primary text-center">
    <br>
    <h2>Mon profil<h2>
      <br>
      <!--Avatar-->
      <%if @user.avatar.attached?%>

        <img class="avatar" <%= image_tag @user.avatar, alt: 'avatar', id: 'profile_picture'%>

        <%else%>

        <img class="avatar" src = "https://www.leroiani.net/wp-content/uploads/2017/10/avatar.png">

      <%end%>
      <br>
    <div class="card-body">
      <h6 class="font-weight-light">Prénom : <p class="text-primary"><% if current_user.first_name != nil%> <%= @user.first_name%></p> <% end%>
      <h6 class="font-weight-light">Nom : <p class="text-primary"><% if current_user.last_name != nil%> <%= @user.last_name%></p> <% end%>
      <h6 class="font-weight-light">Description : <p class="text-primary"><% if current_user.description != nil%> <%= @user.description%></p> <% end%>
      <h6 class="font-weight-light">Outils : <p class="text-primary"><% if current_user.tools != nil%> <%= @user.tools%></p> <% end%>
      <h6 class="font-weight-light">Email: <p class="text-primary"><%= @user.email %></p>
    </div>

          <%= link_to "Editer mes informations", edit_user_path(@user), :class => "btn btn-success mb-3", :style => "width:230px" %>
          <br>
          <%= link_to "Editer mes identifiants", edit_user_registration_path, :class => "btn btn-primary mb-3", :style => "width:230px" %>
          <br>
  </div>

  <div class="col-lg-6 col-md-6 mb-4">
    <center>
      <br>
      <h2> Informations </h2>
      <br><br>

      <a href="<%= new_garden_path %>"><button type="button" new_garden_path class="btn btn-primary btn-lg">Ajouter mon jardin </button></a>

        <br><br><br><br><br><br>
        <div class="container">
          <h4> Mes annonces </h4>
          <br><br>
          <% if @gardens != nil%>
          <% @gardens.each_with_index do |garden, i| %>
        <div class="card h-100 w-55">
          <img class="card-img-top" src="<%= garden.image_url %>" class="cover" alt="" >
          <div class="card-body">
            <h4 class="card-title">
              <%= garden.title %></a>
            </h4>
            <h5><%= garden.surface %> m2</h5>
            <p class="card-text"><%= garden.description %></p>
            <br>
            <a href="<%= edit_garden_path %>"><button type="button" edit_garden_path class="btn btn-secondary">Editer mon annonce </button></a>
          </div>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>

  <div class="col-lg-3 col-md-6 mb-4 bg-secondary-light">
    <br>
    <h2><center> Mes rendez-vous</center></h2>
    <br><br>
          <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Historique de mes rendez-vous</h6>
            <div class="media text-muted pt-3">
              <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17628d5492e%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17628d5492e%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
            </div>
            <div class="media text-muted pt-3">
              <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17628d54931%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17628d54931%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 32px; height: 32px;">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
            </div>
            <div class="media text-muted pt-3">
              <img data-src="holder.js/32x32?theme=thumb&amp;bg=6f42c1&amp;fg=6f42c1&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17628d54933%20text%20%7B%20fill%3A%236f42c1%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17628d54933%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236f42c1%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 32px; height: 32px;">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
            </div>
            <small class="d-block text-right mt-3">
              <a href="#">All updates</a>
            </small>
          </div>
  </div>
</div>
</div>

<div>
  <center>
    <h2> Mes favoris </h2>
     <div class="row text-left">
    <% @gardens_favorites.each_with_index do |garden, i| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="<%= garden_path(garden) %>"><img class="card-img-top" src="<%= garden.image_url %>" class="cover" alt="" ></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="<%= garden_path(garden) %>"><%= garden.title %></a>
            </h4>
            <h5><%= garden.surface %> m2</h5>
            <p class="card-text"><%= garden.description %></p>
            <a href="<%= garden_path(garden) %>"><button type="button" garden_path(garden) class="btn btn-primary">En savoir plus</button></a>
            </div>
            <p class ="text-right mr-4"><%= garden.favorites.count %> <%= (garden.favorites.count) == 1 ? '👍' : '👍'%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%end%>

