<% content_for :nav, render('layouts/custom_nav') %>


    <!--Tree col -->
    <div class="container text-center">
      <h2 class="mt-4">Donner ou recevoir un coup de pousse</h2>

      <div class="row coltop mt-3">
        <div class="col-lg-4 my-5">
          <%= image_tag("sot.png", :class => "img_presentation") %>
          <h4 class="my-5 mx-3">S'inscrire et compléter son profil</h4>
          <p class="my-4 mx-4">Inscrivez-vous gratuitement pour proposer une annonce de prêt de jardin ou pour rechercher un jardin d'accueil à proximité de chez vous.</p>
        </div>

        <div class="col-lg-4 my-5">
          <%= image_tag("gants.png", :class => "img_presentation") %>
          <h4 class="my-5 mx-3">Rencontrer des jardiniers</h4>
          <p class="my-4 mx-4">Echangez avec les propriétaires de jardins ou les jardiniers en recherche près de chez vous, proposez une date de rendez-vous et rencontrez-vous !</p>
        </div>

        <div class="col-lg-4 my-5">
          <%= image_tag("brouette.png", :class => "img_presentation") %>
          <h4 class="my-5 mx-3">Cultiver et partager les récoltes</h4>
          <p class="my-4 mx-4">Passez un moment convivial avec des jardiniers autour de chez vous, profitez de la nature, cultivez et partagez vos récoltes.</p>
        </div>
      </div>

      <br><br>
      <h2>Nos petits jardinets d'amour</h2>
      <br><br>
    </div>

    <div class="container-map">
      <div class="list-map">
        <!--Cards -->
        <% @gardens.each_with_index do |garden, i| %>
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <!-- Picture -->
              <% if garden.picture.attached? %>
                <%= image_tag garden.picture, alt: 'picture', class: 'img-fluid picture-garden-index' %>
              <% else %>
                <img class="img-fluid picture-garden-index" src="https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
              <% end %>

              <h4 class="card-title">
                <a href="<%= garden_path(garden) %>"><%= garden.title %></a>
              </h4>
              <h5><%= garden.surface %> m2</h5>
              <p class="card-text"><%= garden.description %></p>
              <div class="bottom-card mt-auto">
                <p class="card-text"><strong><%= garden.city %></strong></p>
                <p id="map-js"> <% garden.longitude %><% garden.latitude %></p>
                <div class="bottom-card-info">
                  <%= link_to "En savoir plus", garden_path(garden), class: "btn btn-outline-success"%>
                  <p class ="text-right mr-4"><%= garden.favorites.count %> <%= (garden.favorites.count) == 1 ? '👍' : '👍'%></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Map Setting Up-->
      <div id="mapid"></div>
      <script>
        let mymap = L.map('mapid').setView([46.232193, 2.209667], 6);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoiYWltZXJ5MSIsImEiOiJja2lmem96M3gxaW1zMnhwZTB1a3N4MmQyIn0.rvlNmP946RVoM9lNot5jxw'
          }).addTo(mymap);

        L.popup()
          .setLatLng([46.232193, 2.209667])
          .setContent('<p>Jardin de J.Dujardin<br />lol</p>')
          .openOn(mymap);
      </script>
    </div>

  <body>
<html>