<div class="container text-center mt-5 mb-5">
  <h5 class="mb-5"> <%= @garden.title %> </h5>

  <!--Show garden -->
  <div class="row row-top">
    <div class="col-md-6">
      <img class="card-img-show"  src="<%= @garden.image_url %>">
    </div>
    <div class="col-md-6 mt-3 text-left">
      <h5>Description :</h5>
      <h6><%= @garden.description %></h6>
      <br>
      <p>Surface : <%= @garden.surface %></p>
      <p>Orientation : <%= @garden.orientation %></p>
      <p>Type de sol : <%= @garden.floor_type %></p>
      <p>Outils disponibles : <% if @garden.tools_available %> <%= "Oui" %> <% else %> <%= "Non" %> <% end %></p>
      <p>Parking : <% if @garden.parking %> <%= "Possibilité de se garer" %> <% else %> <%= "Pas d'emplacement pour se garer" %> <% end %></p>
      <a href="<%= user_path(@user.id) %>" class="btn btn-outline-primary mt-2">Profil propriétaire</a>
      <!-- LIKE / UNLIKE -->
      <% if current_user %>
        <p class="my-2"><%= @garden.favorites.count %> <%= (@garden.favorites.count) == 1 ? 'Like' : 'Likes'%></p>
        <% pre_favorite = @garden.favorites.find { |favorite| favorite.user_id == current_user.id} %>
        <% if pre_favorite %>
          <%= button_to '👎', garden_favorite_path(@garden, pre_favorite), method: :delete %>
        <% else %>
            <%= button_to '👍', garden_favorites_path(@garden), :method => 'POST' %>
        <% end %>
      <% end %>
    </div>
    </div>

 <!--Contact host -->
  <br><br>
  <hr>

  <% if current_user != nil%>
  <%= link_to "Demander un rendez-vous", new_garden_appointment_path((params[:garden_id] = @garden.id), params[:id]), class: "btn btn-outline-success"%>
    <% else %>
    <p>Envie de prendre un rendez-vous ?
      <%=link_to "Je me connecte", new_garden_appointment_path((params[:garden_id] = @garden.id), params[:id])%>
    </p>
  <%end%>
  <a href="mailto:<%= @user.email %>" class="btn btn-outline-primary">Contacter le propriétaire</a>


  <hr>
      <%= render partial: 'gardens/form' %>

     <%= render partial: 'gardens/comment', collection: @garden.comments.reverse %>
  </div>
</div>
