<header>
  <nav>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "logoblanc.png", height: 95%>
        <% end %>
      </div>
      <div class="menu">
        <ul>
      <% if current_user == nil %>
        <li><a <%= link_to "Se connecter", new_user_session_path, :class => "menu-icone" %></a></li>
        <li><a <%= link_to "S'inscrire", new_user_registration_path, :class => "menu-icone" %></a></li>
      <% else %>
        <li><a <%= link_to "Mon profil", user_path(current_user), :class => "menu-icone" %></a></li>
        <li><a <%= link_to "Se déconnecter", destroy_user_session_path, :class => "menu-icone", :method => 'DELETE' %></a></a></li>
        <% end %>
        </ul>
      </div>
  </nav>
</header>